
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Enter your pr</h1>
        <form action="/results" method="POST">
          <p><input type="text" name="url" size="100" value="">
          <p><input class="btn btn-lg btn-default" autofocus type="submit" value="Submit">
        </form>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Created by Georgy Buranov</p>
        </div>
      </div>
    </div>
  </div>
</div>
